node_modules
.idea
.DS_Store
dist/
build/
/android/react-native-image-crop-tools.iml
android/.gradle/6.8/executionHistory/executionHistory.bin
android/.gradle/6.8/executionHistory/executionHistory.lock
android/.gradle/6.8/fileChanges/last-build.bin
android/.gradle/6.8/fileHashes/fileHashes.bin
android/.gradle/6.8/fileHashes/fileHashes.lock
android/.gradle/6.8/gc.properties
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/checksums/checksums.lock
android/.gradle/checksums/md5-checksums.bin
android/.gradle/checksums/sha1-checksums.bin
android/.gradle/configuration-cache/gc.properties
android/.gradle/vcs-1/gc.properties
android/gradle/wrapper/gradle-wrapper.jar
android/gradle/wrapper/gradle-wrapper.properties
android/gradlew
android/gradlew.bat
android/local.properties
